@{
    ViewData["Title"] = "Home Page";
}
@inject Shyjus.BrowserDetector.IBrowserDetector browserDetector

<div class="text-center">
    <div>
        <h3 class="display-5">@browserDetector.Browser.Type.ToString()</h3>
        <h3 class="display-5">@browserDetector.Browser.Version.ToString()</h3>
</div>
</div>
