<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browser information</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <style>
        body {
            font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
            font-size: 1rem;
        }
        table {
            margin-bottom: 1rem;
            border-collapse: collapse;
            display: table;
            border-spacing: 2px;
            border-color: grey;
        }
            table th {
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
                border-top: 1px solid #dee2e6;
                background-color: #a1b93d;
            }
        table td {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
        .label
        {
            background-color:#e8ff87;
        }
    </style>
</body>
</html>
